@charset "UTF-8";
/****************************************
 - STYLES DE BASE
****************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111111;
  font-family: Arial, sans-serif;
  color: #aaa;
  overflow: hidden;
}

/* Fenêtre de contrôle */
.controls {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 60px;
  width: 70px;
  background: #111111;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  z-index: 10;
  padding: 15px;
  overflow: hidden;
  transition: height 0.3s ease-in-out, width 0.3s ease-in-out 0.3s;
}
.controls.active {
  height: 300px;
  width: 200px;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out 0.3s;
}

/* Styles de base pour le bouton hamburger */
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  min-width: 40px;
  height: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  z-index: 20;
}
.hamburger .line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease 0.6s;
  position: absolute;
  border-radius: 2px;
}
.hamburger .line1 {
  top: 0;
}
.hamburger .line2 {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger .line3 {
  top: 100%;
  transform: translateY(-100%);
}
.hamburger.active .line1 {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.hamburger.active .line2 {
  opacity: 0;
}
.hamburger.active .line3 {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

h2 {
  margin-left: 25px;
}

/* Alignement des étiquettes et des inputs */
.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.group:first-of-type {
  margin-bottom: 20px;
}
.group label {
  flex: 1;
  margin-right: 10px;
  font-size: 20px;
}
.group input[type=checkbox] {
  appearance: none; /* Supprime le style par défaut */
  -webkit-appearance: none; /* Pour Safari/Chrome */
  -moz-appearance: none; /* Pour Firefox */
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid #e2e2e2;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  display: inline-block;
}
.group input[type=checkbox]:checked {
  background-color: #111111;
}
.group input[type=checkbox]:checked::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #e2e2e2;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/****************************************
 - CONTENEUR
****************************************/
.solar-system {
  position: relative;
  width: 600px;
  height: 600px;
}

/****************************************
 - ASTRE SOLEIL
****************************************/
.sun, .orbit, .planet {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.sun {
  width: 50px;
  height: 50px;
  background-color: #FFA500;
}

/****************************************
 - ORBITES DE PLANETE
****************************************/
.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}

/****************************************
 - STYLE PLANETE
****************************************/
.planet {
  transform-origin: 0 0;
}

.mercury-orbit {
  width: 80px;
  height: 80px;
}

.mercury {
  width: 6px;
  height: 6px;
  background-color: #aaa;
  animation: rotate-mercury 4s linear infinite;
}

@keyframes rotate-mercury {
  from {
    transform: rotate(0deg) translate(calc(40px - 50%));
  }
  to {
    transform: rotate(360deg) translate(calc(40px - 50%));
  }
}
.venus-orbit {
  width: 160px;
  height: 160px;
}

.venus {
  width: 12px;
  height: 12px;
  background-color: #f5deb3;
  animation: rotate-venus 10s linear infinite;
}

@keyframes rotate-venus {
  from {
    transform: rotate(0deg) translate(calc(80px - 50%));
  }
  to {
    transform: rotate(360deg) translate(calc(80px - 50%));
  }
}
.earth-orbit {
  width: 240px;
  height: 240px;
}

.earth {
  width: 14px;
  height: 14px;
  background-color: #3e82f7;
  animation: rotate-earth 16s linear infinite;
}

@keyframes rotate-earth {
  from {
    transform: rotate(0deg) translate(calc(120px - 50%));
  }
  to {
    transform: rotate(360deg) translate(calc(120px - 50%));
  }
}
.mars-orbit {
  width: 320px;
  height: 320px;
}

.mars {
  width: 10px;
  height: 10px;
  background-color: #d04b2d;
  animation: rotate-mars 32s linear infinite;
}

@keyframes rotate-mars {
  from {
    transform: rotate(0deg) translate(calc(160px - 50%));
  }
  to {
    transform: rotate(360deg) translate(calc(160px - 50%));
  }
}
.jupiter-orbit {
  width: 560px;
  height: 560px;
}

.jupiter {
  width: 30px;
  height: 30px;
  background-color: #f4a460;
  animation: rotate-jupiter 196s linear infinite;
}

@keyframes rotate-jupiter {
  from {
    transform: rotate(0deg) translate(calc(280px - 50%));
  }
  to {
    transform: rotate(360deg) translate(calc(280px - 50%));
  }
}
.saturn-orbit {
  width: 800px;
  height: 800px;
}

.saturn {
  width: 25px;
  height: 25px;
  background-color: #deb887;
  animation: rotate-saturn 490s linear infinite;
}

@keyframes rotate-saturn {
  from {
    transform: rotate(0deg) translate(calc(400px - 50%));
  }
  to {
    transform: rotate(360deg) translate(calc(400px - 50%));
  }
}
.uranus-orbit {
  width: 1040px;
  height: 1040px;
}

.uranus {
  width: 22px;
  height: 22px;
  background-color: #8a2be2;
  animation: rotate-uranus 1380s linear infinite;
}

@keyframes rotate-uranus {
  from {
    transform: rotate(0deg) translate(calc(520px - 50%));
  }
  to {
    transform: rotate(360deg) translate(calc(520px - 50%));
  }
}
.moon-orbit {
  width: 30px;
  height: 30px;
}

.moon {
  width: 3px;
  height: 3px;
  background-color: #aaa;
  animation: rotate-moon 2s linear infinite;
}

@keyframes rotate-moon {
  from {
    transform: rotate(0deg) translate(calc(15px - 50%));
  }
  to {
    transform: rotate(360deg) translate(calc(15px - 50%));
  }
}
.io-orbit {
  width: 40px;
  height: 40px;
}

.io {
  width: 4px;
  height: 4px;
  background-color: #aaa;
  animation: rotate-io 2s linear infinite;
}

@keyframes rotate-io {
  from {
    transform: rotate(0deg) translate(calc(20px - 50%));
  }
  to {
    transform: rotate(360deg) translate(calc(20px - 50%));
  }
}
.europe-orbit {
  width: 60px;
  height: 60px;
}

.europe {
  width: 6px;
  height: 6px;
  background-color: #aaa;
  animation: rotate-europe 4s linear infinite;
}

@keyframes rotate-europe {
  from {
    transform: rotate(0deg) translate(calc(30px - 50%));
  }
  to {
    transform: rotate(360deg) translate(calc(30px - 50%));
  }
}
.ganymede-orbit {
  width: 80px;
  height: 80px;
}

.ganymede {
  width: 8px;
  height: 8px;
  background-color: #aaa;
  animation: rotate-ganymede 7s linear infinite;
}

@keyframes rotate-ganymede {
  from {
    transform: rotate(0deg) translate(calc(40px - 50%));
  }
  to {
    transform: rotate(360deg) translate(calc(40px - 50%));
  }
}
.callisto-orbit {
  width: 96px;
  height: 96px;
}

.callisto {
  width: 4px;
  height: 4px;
  background-color: #aaa;
  animation: rotate-callisto 11s linear infinite;
}

@keyframes rotate-callisto {
  from {
    transform: rotate(0deg) translate(calc(48px - 50%));
  }
  to {
    transform: rotate(360deg) translate(calc(48px - 50%));
  }
}

/*# sourceMappingURL=styles.css.map */
